@* @page "/produtoporid"
@using BlazorEcomm.Shared.Models
@inject HttpClient httpClient

<h1>Consulte o Produto por ID</h1>

<label>
    Informe o ID: 
    <input class="form-control" @bind-value=produtoId />
</label>

<button @onclick="ConsumirAPI" class="btn btn-primary"> 
    ConsumirAPI
</button>

<div>
    <p><strong>ID:</strong> @p.Id</p>
    
    <p><strong>Title:</strong> @p.Title</p>
    
    <p><strong>Description:</strong> @p.Description</p>
    
    <p><strong>Price:</strong> R$ @p.Price</p>
    
    <p><strong>Discount:</strong> @p.DiscountPercentage%</p>
    
    <p><strong>Rating:</strong> @p.Rating</p>
    
    <p><strong>Stock:</strong> @p.Stock</p>
    
    <p><strong>Brand:</strong> @p.Brand</p>
    
    <p><strong>Category:</strong> @p.Category</p>
    
    <p><strong>Thumbnail:</strong></p>
    <img src="@p.Thumbnail" alt="Thumbnail" style="width:200px;" />
</div>


@code {
    int produtoId;

    Produto? p = new();

    private async Task ConsumirAPI()
    {
        var r = await httpClient.GetAsync($"https://dummyjson.com/products/{produtoId}");

        if (r.IsSuccessStatusCode)
        {
            p = await r.Content.ReadFromJsonAsync<Produto>();

           
        }
    }
}
 *@